*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
    background-color: #edf2fc;
}
.mym2 {
    margin: 0 auto;
}
.demo {
    
    vertical-align: -18px;

}
.ico {
    width: 2;
}
.nav-link {
    font-family: serif;
    font-size: 105%;
    color: #555;
}
.nav-link:focus, .nav-link:hover {
    color: #ff4321;
}
a.nav-link.active {
    color: #ff4321;
}