*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --fsize: 38%;
    --naw: 30rem;
}
body{
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.backc {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-size: 2.3em;
    text-align: center;
    overflow: hidden;
}
.loader {
    width: 5rem;
    height: 5rem;
    border-bottom: 5px solid black;
    border-radius: 50%;
    animation: loaderr 1s linear 0s infinite;
}
@keyframes loaderr {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.hero {
    width: 100%;
    height: 100vh;
    z-index: 99;
    font-size: 2.5rem;
    background: url(./c.jpg) center center no-repeat;
    background-size: cover;
    animation: popup 3.5s linear 0s 1;
    overflow: auto;
}
@keyframes popup {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.nav {
    width: 100%;
    height: 10%;
    display: flex;
    font-size: var(--fsize);
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    color: white;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 5px solid;
    flex-direction: row;
}
.nav-tem {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    width: var(--naw);
}
.nav-tem ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style-type: none;
}
.nav-tem ul li {
    border: 3px solid;
    padding: 0.7rem;
    border-radius: 100px;
}
.nav-tem ul li a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.nav-tem ul li:hover {
    background-color: rgb(27, 189, 135);
}
.show {
    display: none;
}

.navly {
    display: none;
    width: 100%;
    font-size: 1.5rem;
    height: 90vh;
    position: absolute;
    background: aliceblue;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.navly ul {
    list-style-type: none;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.navly ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

li.hideme {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 15%;
    justify-content: center;
    align-items: center;
}

li.hideme:nth-child(1){
    width: 10%;
    height: 10%;
}

.navly ul li a {
    color: black;
    text-decoration: none;
    border: 2px solid teal;
    width: 100%;
    display: flex;
    height: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.up li.sign {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    border: 3px solid;
    padding: 0.7rem;
    border-radius: 100px;
}
.up li a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.sigp {
    display: none;
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: antiquewhite;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

                                    /* sign Up */

.sbox {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 90%;
}
form {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
label {
    display: flex;
    overflow: hidden;
    line-height: 1.5;
    border-left: 5px solid purple;
    height: 15vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}
input {
    width: 80%;
    overflow: hidden;
    height: 5vh;
}
button {
    width: 18rem;
    height: 8%;
    border-radius: 100px;
    background: chartreuse;
    margin-top: 1rem;
}

                /* Content here */
.xont {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    color: white;
    font-size: 52%;
}
.txt {
    padding: 0 1rem;
    line-height: 1.39;
    font-size: 1.77rem;
}
.timg {
    background: url(./dummy.png) center center no-repeat;
   height: 30vh;
   width: 100%;
   background-size: contain;

}

@media only screen and (max-width: 700px) {
    .txt {
        font-size: 1.27rem;
    }
}


@media only screen and (max-width: 1200px) {
    .hide {
        display: none;
    }
    .show {
        display: flex;
    }
    .nav {
        padding: 0 2rem;
    }
    .nav-tem {
        width: 20%;
    }
    .nav-tem ul {
        justify-content: flex-end;
    }
}
@media only screen and (max-width: 1100px) {
    .xont {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .txt {
        height: 50%;
    }
}

@media only screen and (min-width: 1800px) {
    :root {
        --fsize: 65%;
        --naw: 45rem;
    }
}

