*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: aliceblue;
}
.head {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background: url(./14_Isometric\ Teamwork.jpg); */
}
.nav {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}
.nav-it {
    display: flex;
    width: 25rem;
    align-items: center;
}
.nav-it ul:nth-child(1) {
    list-style-type: none;
    display: flex;
    width: inherit;
    justify-content: space-between;
}
.nav h1 a  {
    color: white;
    font-size: 1.4em;
    text-decoration: none;
}

.nav-it ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 14%;
    border-radius: 64px;
    /* background: linear-gradient(43deg, #b57171, #3c2b2b);
    box-shadow: 9px 13px 41px #474141, -20px 20px 41px #695f5f; */
        background: linear-gradient(45deg, #40a4ca, #d21888);
        box-shadow: 9px 13px 41px #40a4ca, -20px 20px 41px #d21888;
}
.nav-it ul li a:hover {

    /* background: linear-gradient(45deg, #d38312, #a83279);
    box-shadow: 9px 13px 41px #d38312, -20px 20px 41px #695f5f; */

    box-shadow: 9px 13px 41px #6512d3, -20px 20px 41px #00dcff;
    background: linear-gradient( 45deg, #6512d3, #00dcff);
}
.cont {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1em;
    align-items: center;
    align-content: center;
}
.show {
    display: none;
}
@media screen and (max-width: 700px) {
    .cont {
        flex-direction: column-reverse;
    }
    .hide {
        display: none;
    }
    .show {
        display: flex;
    }
    .nav-it {
        width: 2rem;
    }
}

/* Some Service Contant */

.service {
    background: linear-gradient(45deg, pink, blue);
    /* background: linear-gradient(45deg, pink, #1f1fcc); */
    width: 100%;
    height: 100vh;
    display: flex;
}
.scont {
    width: 100%;
    display: flex;
    padding: 2% 2%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.sside {
    background-color: darkblue;
    width: 40%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    overflow: hidden;
}
.sside img {
    width: 100%;
    height: 100%;
}
.card {
    /* border: 2px solid; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.card .box {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    height: 86%;
    /* border: 2px solid white; */
    padding: 1%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.card .box .bcont {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px rgb(255, 255, 255) solid;
    align-items: center;
    align-content: center;
    padding: 5%;
    height: 100%;
}
.card .box .bcont .bcimg {
    width: 49%;
    height: 23%;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.card .box .bcont .bcimg img {
    width: 100%;
    height: 100%;
}
.card .box .bcont .bctxt {
    justify-content: center;
    align-items: center;
    display: inherit;
    flex-direction: column;
    text-align: center;
}