*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
    background-color: #edf2fc;
}
.demo {
    
    vertical-align: -18px;

}
.car {
    margin: 20px;
}
.card-img, .card-img-top {
    background-color: hsl(0, 0%, 90%);

}
.myh {
    height: 50%;
}
.nav-link {
    font-family: serif;
    font-size: 105%;
    color: #555;
}
.nav-link:focus, .nav-link:hover {
    color: #ff4321;
}
a.nav-link.active {
    color: #ff4321;
}
.mym {
    margin: 1.5% 0;
}
.btn-block {
    display: block;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background: linear-gradient(to right, #ff00cc, #333399);
}