*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --with: calc(100vh - 30%);
    --res: 100vh;
}
.hero{
    width: 100%;
    height: var(--res);
    background: url(./j.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 2rem;
    height: 14%;
    border-bottom: 2px solid;
}
.nav-obj {
    display: flex;
    width: 25rem;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-obj ul {
    display: flex;
    width: 100%;
    list-style-type: none;
}
.nav-obj ul li {
    width: 38%;
    display: flex;
}
.nav-obj ul li a {
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    padding: 0.6rem;
    font-size: 1.19rem;
    font-weight: 600;
    text-decoration: none;
}
.nav-obj ul li a:hover {
    background-color: hsl(267deg 93% 55% / 80%);
}
/* .show {
    display: none;
}
@media only screen and (max-width:700px) {
    :root{
        --font-s: 2rem;
        --font-sec: 1.1rem;
        --nav-ulf: 1em;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
        margin: 0%;
        padding: 0%;
    }
} */
.both {
    display: flex;
    width: 100%;
    height: calc(100vh - 14%);
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-direction: row;
}

.cont {
    display: flex;
    width: 100%;
    min-height: var(--with);
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 2;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}
.txtBox {
    max-width: 70%;
    min-width: 20ch;
    font-size: 120%;
    padding-left: 2rem;
    padding-right: 1rem;
}
.foot {
    background-color: #555;
    display: flex;
    width: 100%;
    padding: 0 2rem;
    min-height: 12vh;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.foot ul {
    font-size: 150%;
    list-style: none;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
}
.foot ul:nth-child(1) {
    width: 10%;
}
.foot ul:nth-child(2) {
    width: 68%;
}
.foot ul:nth-child(2) li {
    justify-content: center;
    width: calc(100% / 3);
}
.foot ul:nth-child(3) {
    width: 10%;
    justify-content: flex-end;
}
.foot ul:nth-child(3) li{
    /* justify-content: flex-end; */
    width: calc(100% / 3);
    font-size: 150%;
}
.foot ul li a {
    color: white;
    text-decoration: none;
} 
.imgBox {
    display: flex;
    height: 74vh;
    padding-top: 1em;
    width: 30%;
}
@media only screen and (max-width:700px) {
    :root{
        --with: calc(100vh - 40%);
        --res: auto;
    }
    .imgBox{
        width: 55%;
    }
    .hide{
        display: none;
    }

    .nav h1 {
        display: flex;
        width: 100%;
        padding: 1rem 2rem;
        justify-content: center;
    }
}
@media only screen and (max-width:500px) {
    .imgBox {
        width: 70%;
    }
}
@media only screen and (max-width:1200px) {
    :root{

        --res: auto;
    }
    .nav{
        padding: 1rem 2rem;
    }
    .cont {
        flex-direction: column;
    }
    .txtBox{
        max-width: 100%;
        padding-bottom: 2rem;
    }
    .imgBox img {
        width: 100%;
    }
    .foot{
        display: none;
    }
}